body {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}

.container-centr {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header {
  position: relative;
}
.main-nav {
  /* Общий стиль*/
  font-size: 14px;
  line-height: 26px;
  /*Сетка*/
  padding: 0;
  margin: 0;
  display: flex;
}
.logo {
  height: 71px;
  width: 140px;
  padding: 0;
  margin: 0;
  order: 2;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  /*Вопрос: почему логотип прячется за фоновым изображением?*/
}
.site-nav {
  list-style: none;

  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-right: 73px;
  margin-left: 73px;
  margin-bottom: 22px;
  padding: 0px;
  width: 100%;
}
.site-nav-list {
  color: #000000;
  width: 25%;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #a3c7de;
}
.site-nav a:active {
  color: #cacaca;
}

.welcome {
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  min-height: 512px; 
  /*Вопрос: Не понимаю, как сдвинуть ниже. Если убираю высоту, всё прилипает друг к другу*/
  /*Вопрос: так же не понимаю, как убрать рассояние между полигоном, и следующим блоком*/
}
.welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 77px;  
}
.welcome::after {
  content: url(../img/polygon.svg);
  position: absolute;
  left: 0;
  bottom: 0;
}
/*Стили для преимужеств на главной странице*/
.features-intro {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}
.features-fraze {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.features-list-one {  
  display: flex;
}
.features-list-two {
  display: flex;
}
.features-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  margin: 0px;
  padding: 0px;
  width: 33,33%;
  /**/
}
.features-item {
  text-align: center;
}
.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.grey {
  background-color: #eeeeee;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-main {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 576px;

  margin: 0 auto;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
  /*Вопрос: почему кнопка не встаёт по центру?*/
  /*Вопрос: почему высота этой кнопки отличается от кнопки "Найти"?*/
  /*Вопрос: свойство font-style: bold; не работает. Причина в шрифтах?*/
}
.popup {
  width: 576px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number-guest {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adults {
  width: 230px;
}
.children {
  width: 230px;
}
.found {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 459px;
  margin: 0 auto;
  background-color: #81b3d2;
  text-align: center;
}
.found a {
  padding-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbf6;
}
.footer-contacts {
  margin-left: 132px;
}
.footer-htmlacademy {
  margin-right: 101px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Окончание стилей index.html*/
/*Старт стилей catalog.html*/
.catalog-main {
  background-image: url("../img/filterbackground.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.points {
  display: flex;
}
fieldset {
  border: none;
}
.hotel-form {
  margin-left: auto;
}

.catalog-content {
  background-color: #ffffff;
}
.catalog-found {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}
.catalog-item {
  font-size: 12px;
  line-height: 18px;

  margin: 10px;
}
.btn {
  color: #cacaca;
}
.btn:hover,
.btn:focus {
  color: #a3c7de;
}
.btn:active {
  color: #000000;
}

.hotel-amara {
  padding: 0;
  margin: 0;
  display: flex;
}
.hotel-desert {
  padding: 0;
  margin: 0;
  display: flex;
}
.hotel-villas {
  padding: 0;
  margin: 0;
  display: flex;
}
.about-hotel {
  margin-left: 28px;
  /*Вопрос: как текст прибить к верхней линии*/
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}
.hotel-name:active {
  color: #cbcbcb;
}

.cost {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.detail {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.detail:hover,
.detail:focus {
  background-color: #669ec0;
}
.detail:active {
  color: #93b9d2;
  background-color: #5496bd;
}

.reserv {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.reserv:hover,
.reserv:focus {
  background-color: #604e43;
}
.reserv:active {
  color: #928a85;
  background-color: #503e33;
}

.rate {
  margin-left: auto;
}