body {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.container-center {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-header {
  position: relative;
  /* margin: -20px; */
}
.main-nav {
  /* Общий стиль*/
  font-size: 14px;
  line-height: 26px;
  /*Сетка*/
  /* padding: 30px, 6%; */
  margin: 0px;
  display: flex;
}
.logo {
  height: 71px;
  width: 140px;
  padding: 0;
  margin: 0;
  order: 2;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}
.site-nav {
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin: 0px;
  width: 100%;
}
.site-nav-list {
  color: #000000;
  width: 25%;
  /* box-sizing: border-box; */
  display: block;
  /* padding-top: 15px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 15px; */
  /* Вопрос: Не понимаю, почему у меня текст в li переносится на следующую строку. За счёт чего это можно исправить? */
}

.site-nav a:hover,
.site-nav a:focus {
  color: #a3c7de;
}
.site-nav a:active {
  color: #cacaca;
}

.welcome {
  position: relative;
  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  padding-bottom: 52px;
}
.welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 77px;  
}
.welcome::after {
  content: url("../img/polygon.svg");
  position: absolute;
  left: 0;
  bottom: -2.4px;
  line-height: 0;
  
}
/*Стили для преимужеств на главной странице*/
.features-intro {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}
.features-fraze {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.features-list-one {  
  display: flex;
  flex-wrap: wrap;
  margin-top: 59px;
  /*Вопрос: Фотографии города и моста дьявола нужно в фотошопе обрезать? Или через z-index загонять под верхний фон?
  for call */
}
.features-list-one-color {
  color: #ffffff;
  /* text-align: center; */
  width: 400px;
  background-color: #81b3d2;
  padding-top: 51px;
  
}
.features-list-one-color h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}
.features-list-one-color p {
  font-size: 14px;
  line-height: 21px;
  padding-right: 60px;
  padding-left: 59px;
  font-weight: 400;
  text-align: center;
}
.features-list-two {
  display: flex;
  flex-wrap: wrap;
}
.features-list-two-color {
  color: #ffffff;
  text-align: center;
  width: 400px;
  background-color: #81b3d2;
}
.features-list-two-color h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 49px;
  padding-right: 125px;
  padding-bottom: 31px;
  padding-left: 125px;
  margin: 0;
}
.features-list-two-color p {
  font-size: 14px;
  line-height: 21px;
  padding-left: 48px;
  padding-right: 50px;
  font-weight: 400;
}
.features-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  /* min-height: 330px; */
}
.features-item {
  position: relative;
  padding-top: 164px;
  text-align: center;
  width: 33.33%;
}
.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-item p {
  color: #333333;
  margin-top: 0;
  margin-right: 75px;
  margin-bottom: 87px;
  margin-left: 73px;
}
.grey {
  color: #333333;
  background-color: #eeeeee;
  min-height: 257px;
  padding: 0;
}
.grey h3 {
  padding-top: 50px;
  padding-right: 55px;
  padding-left: 68px;
}
.grey p {
  margin-top: 32px;
  margin-right: 9px;
  margin-bottom: 63px;
  margin-left: 23px;
  padding-right: 45px;
  padding-left: 45px;
}
  

.home::before {
  content: url("../img/home.svg");
  position: absolute;
  left: 162px;
  bottom: 198px;

}
.food::before {
  content: url("../img/food.svg");
  position: absolute;
  left: 162px;
  bottom: 198px;
}
.box::before {
  content: url("../img/box.svg");
  position: absolute;
  left: 162px;
  bottom: 198px;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-main {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  width: 576px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin: 0;
  /* display: inline-block; */
  
  /* margin: 0 auto; */
  background-color: #766357;
  color: #ffffff;
  border: none;
}
.popup {
  width: 576px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-in,
.check-out {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  margin-left: 21px;
  padding-left: 12px;
  box-sizing: border-box; 
}
.number-guest {  
  display: flex;
  align-items: center;
  width: 459px;
  justify-content: space-between;
  margin-bottom: 55px;
}
.adults {
  /* width: 459px; */
  
}
.adults-btn-one,
.adults-btn-two,
.children-btn-one,
.children-btn-two {
  width: 41px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}
.adults-btn-one {
  margin-left: 24px;
}
.children-btn-one {
  margin-left: 27px;
}
.children {
  margin-left: 27px;
}

.found {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  width: 459px;
  /*margin: 0 auto;*/
  background-color: #81b3d2;
  /*text-align: center;*/
  border: none;

  padding-top: 18px;
  padding-bottom: 21px;
  margin-bottom: 55px;
}
.found a {
  padding-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.map {
  background-image: url("../img/map.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1718px 748px;
  position: relative;
}

.footer {
  padding-top: 37px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbf6;
  opacity: 0.9;
  /* position: absolute;
  width: 1200px; */
}
/* Вопрос: Карту мы прячем под футер с помощью position: absolute? Или есть другой способ? */
.footer-contacts {
  margin-left: 132px;
}
.footer-social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 152px;
  margin: 0 auto;
  padding: 0;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 49px;

  background-color: #81b3d2;
}
.social-button:focus,
.social-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  fill: #88b6d1;
}

.footer-htmlacademy {
  margin-right: 8px;
}
.htmlacademy-btn {
  margin-right: 100px;
}
.htmlacademy-btn:focus path,
.htmlacademy-btn:hover path {
  fill: #81b3d2;
}
.htmlacademy-btn:active path {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Окончание стилей index.html*/
/*Старт стилей catalog.html*/
.catalog-main {
  background-image: url("../img/filterbackground.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.points {
  display: flex;
}
fieldset {
  border: none;
}
.hotel-form {
  margin-left: auto;
}

.catalog-content {
  background-color: #ffffff;
}
.catalog-found {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
}
.catalog-item {
  font-size: 12px;
  line-height: 18px;

  margin: 10px;
}
.btn {
  color: #cacaca;
}
.btn:hover,
.btn:focus {
  color: #a3c7de;
}
.btn:active {
  color: #000000;
}

.hotel-amara {
  padding: 0;
  margin: 0;
  display: flex;
}
.hotel-desert {
  padding: 0;
  margin: 0;
  display: flex;
}
.hotel-villas {
  padding: 0;
  margin: 0;
  display: flex;
}
.about-hotel {
  margin-left: 28px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}
.hotel-name:active {
  color: #cbcbcb;
}

.cost {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.detail {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.detail:hover,
.detail:focus {
  background-color: #669ec0;
}
.detail:active {
  color: #93b9d2;
  background-color: #5496bd;
}

.reserv {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.reserv:hover,
.reserv:focus {
  background-color: #604e43;
}
.reserv:active {
  color: #928a85;
  background-color: #503e33;
}

.rate {
  margin-left: auto;
}