body {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-right: 40px;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 1200px;
}
.main-nav {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}

.site-nav {
  list-style: none;
}

.site-nav-list {
  color: #000000;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #a3c7de;
}
.site-nav a:active {
  color: #cacaca;
}

.content {
  position: relative;
  top: 10px;
  left: 412px;
}

.features-intro {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.features-fraze {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.polygon {
  width: 1200px;
  height: 215px;
  background-image: url("../img/polygon.svg");
  background-size: 1200px 215px;
  background-color: #ffffff;
}

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.subtitle {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.popup {
  
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Делаем сетки для index*/

.main-header {
  margin-bottom: -15px;
  }
.main-nav {
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  /*flex-direction: column;*/
  align-items: top;
}
.logo {
  height: 71px;
  width: 140px;
  padding: 0;
  margin: 0;
  order: 2;
}
.features-list-one {
  height: 256px;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
.features-list {
  height: 256px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features-list-two {
  height: 256px;
  max-width: 1200px;
  display: flex;
  align-items: center;
}
.search {
  height: 86px;
  width: 576px;
  margin: 0 auto;
  background-color: #766357;
  color: #ffffff;
  text-align: center;
}
.popup {
  width: 576px;
  height: 486px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number-guest {  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.adults {
  height: 33px;
  width: 230px;
}
.children {
  height: 33px;
  width: 230px;
}
.found {
  height: 59px;
  width: 459px;
  margin: 0 auto;
  background-color: #81b3d2;
  text-align: center;
}
.found a {
  padding-top: auto;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.footer {
  height: 120px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fbf6;
}

/*Окончание стилей index.html*/
/*Старт стилей catalog.html*/
.catalog-main {
  background-image: url("../img/filterbackground.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 1200px;
}

.search {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  font-size: 12px;
  line-height: 18px;
}
.btn {
  color: #cacaca;
}
.btn:hover,
.btn:focus {
  color: #a3c7de;
}
.btn:active {
  color: #000000;
}

.catalog-content {
  background-color: #ffffff;
  width: 1200px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}
.hotel-name:active {
  color: #cbcbcb;
}

.cost {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.detail {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.reserv {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.detail:hover,
.detail:focus {
  background-color: #669ec0;
}
.reserv:hover,
.reserv:focus {
  background-color: #604e43;
}
.detail:active {
  color: #93b9d2;
  background-color: #5496bd;
}
.reserv:active {
  color: #928a85;
  background-color: #503e33;
}
/* Делаем сетки для catalog*/

.points {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
}
.points-two {
  margin-left: -300px;
}
.catalog-found {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  display: flex;
  justify-content: space-between;
}

.hotel-amara {
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  /*flex-direction: column;*/
  align-items: top;
}
.hotel-desert {
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  /*flex-direction: column;*/
  align-items: top;
}
.hotel-villas {
  width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  /*flex-direction: column;*/
  align-items: top;
}
.rate {
  
}